body {
    background-color: rgb(23, 25,31);
    color: white;
}
h1 {
    font-size: 100px;color: dodgerblue;
}
h2 {
    font-size: 50px; color: goldenrod;
}
img{
    border: 1px;
    border-radius: 400px
}