.qwe{
    width: 1000px;
    height: 588px;
    background-image:url(./img/yasxcvtghnjmhjm\,.jpg);
    background-color: #101929;
    margin: 0 auto;
}
.qaz{
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    /* justify-content: ; */
    width: 109px;
    height: 44px;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}
.wsx{
    opacity: 90%;
    width: 800px;
    height: 588px;
}
body{
    background-color: #EAEAEB;

}
.edc{
    width: 350px;
    height: 9px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
    margin:  0 auto;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-size: 14px;
    
    
}
.rfv{
    color: #ffffff;
    width: 482px;
    height: 39px;
    margin: 0 auto;
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 30px;

    
}
.tgb{
    color: #ffffff;
    margin: 0 auto;
    padding-top: 100px;
    width: 216px;
    height: 11px;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}
.yhn{
    background-color: #50C3AF;
    width: 236px;
    height: 49px;
    border-radius: 3%;
    margin-top: 80px;
    margin-left: 370px;
    border-style: none;
}
.ik{
    width: 1000px;
    height: 287px;
    background-color: #101929;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
}
.ik1{
    padding-top: 50px;
    text-align: center;
    display: block;
}
.ik2{
    padding-top: 50px;
    text-align: center;
    display: block;
}

.ik3{
    padding-top: 50px;
    text-align: center;
    display: block;
}

.text1{
    color: white;
    font-family: 'Open Sans', sans-serif;
    
}
.opl{
    width: 136px;
    height: 3px;
    background-color: #ffffff;
    opacity: 0.058823529411764705;
    /* font-size: 14px; */
    margin: 0 auto;

}
.uhv{
    height: 525px;
    width: 1000px;
    background-color: #101929;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.img3{
    width: 265px;
    height: 168px;
}
.uhv1{
    text-align: center;
}
.uhv2{
    text-align: center;
}
.yhn1{
    background-color: #50C3AF;
    width: 100px;
    height: 35px;
    border-radius: 3%;
    margin-top: 80px;
    
    border-style: none;
}
.tre{
    width: 1000px;
    height: 329px;
    background-color: #101929;
    margin: 0 auto;
    padding-top: 1px;
    
}
.opl1{
    width: 590px;
    height: 3px;
    background-color: #ffffff;
    opacity: 0.058823529411764705;
    /* font-size: 14px; */
    margin: 0 auto;
}
.tre1{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    
}
.tre2{
    padding-top: 500px;
}
.yhn2{
    background-color: #D2D5DA;
    width: 100px;
    height: 35px;
    border-radius: 3%;
    margin-top: 80px;
    
    border-style: none;
}
.dsa{
    width: 1000px;
    height: 800px;
    background-color: #101929;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
}
body{
    background: linear-gradient(to left , #101929ee 80%, #101929 100%,#101929ee 80%);
}
.dsa1{
    text-align: center;
    padding-top: 200px;
}
.cxz{
    color: #50C3AF;
    font-family: 'Open Sans', sans-serif;
}
.hgf{
    width: 1000px;
    height: 322px;
    margin: 0 auto;
    background-color: #101929;
    display: flex;
}
.img5{
    width: 265px;
    height: 210px;
    margin-left: 100px;
}
.fds{
    padding-left: 20px;
}
.lmj{
    background-color: #101929;
    width: 1000px;
    height: 322px;
    margin: 0 auto;
    display: flex;
    text-align: center;
}
.pkb{
    width: 24px;
    height: 19px;
}
.gvf{
    width: 1000px;
    height: 222px;
    background-color: #50C3AF;
    margin: 0 auto;
    display: block;
}
.xsw{
    text-align: center;
    padding-top: 54px;
}
.rfde1{
    font-family: 'Open Sans', sans-serif;
}
.rfde2{
    font-family: 'Open Sans', sans-serif;
}
.rfde3{
    font-family: 'Open Sans', sans-serif;
}
.rfde4{
    font-family: 'Open Sans', sans-serif;
}
.xsw1{
    text-align: center;
    padding-top: 50px;
   
}