img{
    width: 300px;
    height: 300px;
    border: darked iset 7px;
    border-radius: 1px;
    display: block;
    margin:auto;

}

tr{
    color:beige;
}
body{
    background-color: rgb(23, 25,31);
}
h1{
    color: beige;
}