.qwe{
    background-color: rgb(255, 230, 0);
    height: 200px;
    margin-bottom: 1px;
}
.qweqwe {
    background-color: blue;
    height: 500px;
    margin-bottom: 10px;
}
.qweqweqwe {
    background-color: green;
    height: 100px;
    margin-bottom: 10px;
}
.qweqweqweqwe {
    background-color: yellowgreen;
    height: 200px;
}