.text {
    text-align: center;
    color: #000000
}
body {
    background-color: rgb(255, 255, 255);
}
div {
    width: 200px;
    height: 200px;
    background-color: darkviolet; /*fon*/
    color: forestgreen;
    font-size: 50px;
}
.text2{
   
}
img{
    
}